
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Hakkımızda</h2>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- contact-form -->
<section class="w3l-contact" id="contact">
    <div class="contact-infubd py-5">
        <div class="container py-lg-3">
            <div class="contact-grids row">
                <div class="center">
                            <h5>Hakkımızda</h5>
                            <p class="mt-3 mb-4">
                                <b>Hoş Geldiniz!</b>
                                <br />
                                Merhaba, ben Nisasu Bozkurt, TraversalCore tatil rezervasyon sitesinin gurur verici sahibi olarak sizlere hoş geldiniz diyor ve bu platformda sizi ağırlamaktan büyük mutluluk duyuyorum.
                                <br />
                                <b>Hikayemiz</b>
                                <br />
                                TraversalCore, seyahat tutkunları için özel olarak tasarlanmış bir tatil rezervasyon platformudur. Seyahat etmeyi seven biri olarak, dünyanın dört bir yanındaki güzellikleri keşfetmek, farklı kültürleri deneyimlemek ve unutulmaz anılar biriktirmek benim için her zaman bir tutku olmuştur. Bu tutkuyu paylaşmak ve diğer gezginlere benzersiz deneyimler sunmak amacıyla TraversalCore'u hayata geçirdim.
                                <br />
                                <b>Vizyonumuz</b>
                                <br />
                                TraversalCore olarak, seyahat etmenin sadece yer değiştirmek değil, aynı zamanda yeni dünyalara açılan bir kapı olduğuna inanıyoruz. Bu nedenle, misafirlerimize dünya genelinde kaliteli konaklama seçenekleri, güvenilir rezervasyon imkanları ve kişiselleştirilmiş hizmet sunarak seyahat deneyimlerini mükemmelleştirmelerine yardımcı olmayı hedefliyoruz.
                                <br />
                                <b>Neden TraversalCore?</b>
                                <br />
                                TraversalCore, kullanıcı dostu arayüzü, geniş konaklama seçenekleri, güvenilir rezervasyon süreçleri ve özel destek ekibi ile fark yaratıyor. Sizlere en iyi tatil deneyimini sunabilmek için sürekli olarak kendimizi geliştiriyor ve yeniliklere açık bir şekilde hizmet veriyoruz.
                                <br />
                                <b>Sizin İçin Buradayız</b>
                                <br />
                                Seyahat etmek, hayatımıza renk katmanın harika bir yoludur. TraversalCore olarak, sizin hayallerinizi gerçeğe dönüştürmenize yardımcı olmak için buradayız. Her anınızın unutulmaz ve sorunsuz geçmesi için elimizden gelenin en iyisini yapmak için sabırsızlanıyoruz.

                                Sizleri TraversalCore ailesine katılmaya ve hayalinizdeki tatili gerçekleştirmeye davet ediyoruz!
                                <br />
                                Saygılarımla,
                                <br />
                                Nisasu Bozkurt
                                TraversalCore Kurucusu
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
</section>